<!DOCTYPE html>
<html lang="en">
    <!-- include head  -->
    <%- include("./partials/head.ejs")%>

    <body>
        <!-- include header  -->
        <%- include("./partials/header.ejs")%>

            
        <table>
            <% for(let i = 0; i < data.length; i++){ %>

                <tr>
                    <th><%= data[i].name %></th>  
                </tr>
                <tr>
                <a href="/pokemon/<%= i %>">
                    <!-- <%= data[i].name %> -->
                    <!-- <%= data[i].img %> -->
                    <img src="<%=data[i].img%>" alt="">
                </a>
                </tr>
            <% } %>
            </table>

        <!-- include footer  -->
        <%- include("./partials/footer.ejs")%>

    </body>
</html>